---
import StatFeatures from '../components/StatFeatures.astro';
import Features from '../components/Features.astro';
import HeroSection from '../components/HeroSection.astro';
import Layout from '../layouts/Layout.astro';
import Community from '../components/Community.astro';
import Practice from '../components/Practice.astro';
---

<Layout title="Welcome to roi gen.">
	<main class="space-y-40 mb-40">
		<HeroSection/>
		<Features/>
		<StatFeatures/>
		<Practice />
		<Community/>
	</main>
</Layout>