---
import Layout from '../layouts/Layout.astro';
---

<script>
	import { accEmail, homeEmail } from '../store.js'
	document.addEventListener("DOMContentLoaded", function() {
	  const regButton = document.querySelector('#regButton');
	  const emailInput = document.querySelector('#emailFeild');
	  const storedEmail = homeEmail.get();
	  if (storedEmail) {
		emailInput.value = storedEmail;
	  }
	  
	  regButton.addEventListener('click', async (event) => {
		event.preventDefault();
  
		const email = (document.querySelector('#email') as HTMLInputElement).value;
		const password = (document.querySelector('#pwd') as HTMLInputElement).value;
  
		const response = await fetch('http://127.0.0.1:5001/register', {
		  method: 'POST',
		  headers: {
			'Content-Type': 'application/json', // TODO: check if this post to the server
		  },
		  body: JSON.stringify({ email, password }),
		});
  
		const data = await response.json();
		if (data.status === 'success') {
			accEmail.set(email);
		  	window.location.href = '/';
		} else {
		  alert(data.message);
		}
	  });
	});
	document.addEventListener('DOMContentLoaded', function () {
            const guestButton = document.querySelector('#guestButton');
            if (guestButton) {
                guestButton.addEventListener('click', function (event) {
                    event.preventDefault();
                    window.location.href = '/';
                });
            }
        });
	document.addEventListener('DOMContentLoaded', function () {
            const loginText = document.querySelector('#loginText');
            if (loginText) {
                loginText.addEventListener('click', function (event) {
                    event.preventDefault();
                    window.location.href = '/login';
                });
            }
        });

  </script>

<Layout title="register">
	
	<div class="relative py-16">
		<div class="container relative m-auto px-6 pt-20 text-gray-500 md:px-12 xl:px-40">
		  <div class="m-auto space-y-8 md:w-8/12 lg:w-6/12 xl:w-6/12">
			<div class="rounded-3xl border border-gray-100 bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 backdrop-blur-2xl">
			  <div class="p-8 py-12 sm:p-16">
				<h2 class="mb-8 text-2xl font-bold text-gray-800 dark:text-white">Create an Account</h2>
				<form action="" class="space-y-8">
				  <div class="space-y-2">
					<label for="email" class="text-gray-600 dark:text-gray-300">Email</label>
					<input
					  type="email"
					  name="email"
					  id="email"
					  autocomplete="username"
					  class="focus:outline-none block w-full rounded-md border text-gray-600 border-gray-200 dark:text-gray-100 border-gray-600 bg-transparent px-4 py-3 transition duration-300 invalid:ring-2 invalid:ring-red-400 focus:ring-2 focus:ring-cyan-200"
					/>
				  </div>
	  
				  <div>
					<div class="flex items-center justify-between">
					  <label for="pwd" class="text-gray-600 dark:text-gray-200">Password</label>
					  
					</div>
					<input
					  type="password"
					  name="pwd"
					  id="pwd"
					  autocomplete="current-password"
					  class="focus:outline-none block w-full rounded-md border border-gray-200 dark:border-gray-600 bg-transparent px-4 py-3 text-gray-600 transition duration-300 invalid:ring-2 invalid:ring-red-400 focus:ring-2 focus:ring-cyan-300"
					/>
				  </div>
					<button id="regButton" class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95">
						<a class="relative text-base font-semibold text-white dark:text-dark">Create Account</a>
					</button>
					<button id="guestButton" class="relative flex h-11 w-full items-center justify-center px-6 border border-gray-500 dark:border-gray-300 rounded-full transition duration-300 hover:scale-105 active:duration-75 active:scale-95">
						<a class="relative text-base text-dark dark:text-white">Continue As Guest</a>
						<span class="before:absolute before:inset-0 before:rounded-full before:bg-transparent before:transition before:duration-300"></span>
					  </button>
				  	<p class="border-t border-gray-100 dark:border-gray-700 pt-6 text-sm text-gray-500 dark:text-gray-400">
						Have an Account Already?
						<a id="loginText" class="text-primary font-semibold">Sign In</a>
				  	</p>				  
				</form>
			  </div>
			</div>
		  </div>
		</div>
	  </div>						  
  </Layout>